openai>=1.0.0
google-generativeai
requests
PyPDF2
docx2pdf
python-docx
python-dotenv
pandas
streamlit
canvasapi
pytesseract
pdf2image
Pillow
stripe
firebase-admin>=6.3.0  # Added for Firestore authentication